apiVersion: v1
kind: ServiceAccount
metadata:
  name: global-services-uup-user-pref-sa
  namespace: __app__
---

apiVersion: v1
kind: Service
metadata:
  name: global-services-uup-user-pref-svc
  namespace: __app__
spec:
  selector:
    app: global-services-uup-user-pref
  ports:
    - port: 4001
      protocol: TCP
      targetPort: 4001
  type: ClusterIP

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global-services-uup-user-pref-configmap
  namespace: __app__
data:
  .env: |
    PORT=4001
    MONGO_URI=__MONGO_URI__
    DB_NAME=__DB_NAME__
    NODE_ENV=production
    AES_SECRET=__AES_SECRET__
    AES_IV=__AES_IV__
    TD_TOKEN_URL=__TD_TOKEN_URL__
    TD_CLIENT_ID=__TD_CLIENT_ID__
    TD_CLIENT_SECRET=__TD_CLIENT_SECRET__
    UUP_BASE_URL=__UUP_BASE_URL__
    MONGODB_MAX_POOL_SIZE=__MONGODB_MAX_POOL_SIZE__
    MONGODB_MIN_POOL_SIZE=__MONGODB_MIN_POOL_SIZE__
    MONGODB_MAX_IDLE_TIME_MS=__MONGODB_MAX_IDLE_TIME_MS__
    MONGODB_SERVER_SELECTION_TIMEOUT_MS=__MONGODB_SERVER_SELECTION_TIMEOUT_MS__

---

# apiVersion: v1
# kind: Secret
# metadata:
#   name: global-services-uup-user-pref-secret
#   namespace: __app__
# type: Opaque
# data:
#   CLIENT_SECRET: __client_secret__
#   OWNER_SECRET: __owner_secret__


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: global-services-uup-user-pref
  namespace: __app__
spec:
  replicas: __replicas__
  selector:
    matchLabels:
      app: global-services-uup-user-pref
  template:
    metadata:
      labels:
        app: global-services-uup-user-pref
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: DoNotSchedule
        minDomains: 2
        labelSelector:
          matchLabels:
            app: global-services-uup-user-pref
      serviceAccountName: global-services-uup-user-pref-sa
      imagePullSecrets:
      - name: ecr-secret      
      volumes:
      - name: env
        configMap: 
          name: global-services-uup-user-pref-configmap
      # - name: client-owner-secret
      #   secret: global-services-uup-user-pref-secret
      containers:
        - name: global-services-uup-user-pref
          image: __accountid__.dkr.ecr.__region__.amazonaws.com/uup/__serviceName__:__Build.BuildNumber__
          ports:
            - containerPort: 4001
              protocol: TCP
          env:
            - name: environment
              value: __environment__
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: "__healthCheckPathReadiness__"
              port: 4001
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: "__healthCheckPathReadiness__"
              port: 4001
              scheme: HTTP
          volumeMounts:
          - name: env
            mountPath: /configuration
          # - name: client-owner-secret
          #   mountPath: /etc/secret-volume