apiVersion: v1
kind: ServiceAccount
metadata:
  name: global-services-uup-app-pref-sa
  namespace: __app__
---

apiVersion: v1
kind: Service
metadata:
  name: global-services-uup-app-pref-svc
  namespace: __app__
spec:
  selector:
    app: global-services-uup-app-pref
  ports:
    - port: 4003
      protocol: TCP
      targetPort: 4003
  type: ClusterIP

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global-services-uup-app-pref-configmap
  namespace: __app__
data:
  .env: |
    PORT=4003
    MONGO_URI=__MONGO_URI__
    DB_NAME=__DB_NAME__
    MONGODB_MAX_POOL_SIZE=__MONGODB_MAX_POOL_SIZE__
    MONGODB_MIN_POOL_SIZE=__MONGODB_MIN_POOL_SIZE__
    MONGODB_MAX_IDLE_TIME_MS=__MONGODB_MAX_IDLE_TIME_MS__
    MONGODB_SERVER_SELECTION_TIMEOUT_MS=__MONGODB_SERVER_SELECTION_TIMEOUT_MS__

---

# apiVersion: v1
# kind: Secret
# metadata:
#   name: global-services-uup-app-pref-secret
#   namespace: uup
# type: Opaque
# data:
#   CLIENT_SECRET: __client_secret__
#   OWNER_SECRET: __owner_secret__


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: global-services-uup-app-pref
  namespace: __app__
spec:
  replicas: __replicas__
  selector:
    matchLabels:
      app: global-services-uup-app-pref
  template:
    metadata:
      labels:
        app: global-services-uup-app-pref
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: DoNotSchedule
        minDomains: 2
        labelSelector:
          matchLabels:
            app: global-services-uup-app-pref
      serviceAccountName: global-services-uup-app-pref-sa
      imagePullSecrets:
      - name: ecr-secret      
      volumes:
        - name: env
          configMap: 
            name: global-services-uup-app-pref-configmap
      #- name: client-owner-secret
        #secret: global-services-uup-app-pref-secret
      containers:
        - name: global-services-uup-app-pref
          image: __accountid__.dkr.ecr.__region__.amazonaws.com/uup/__serviceName__:__Build.BuildNumber__
          ports:
            - containerPort: 4003
              protocol: TCP
          env:
            - name: environment
              value: __environment__
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10     
            httpGet:
              path: "__healthCheckPathReadiness__"
              port: 4003
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10     
            httpGet:
              path: "__healthCheckPathReadiness__"
              port: 4003
              scheme: HTTP
          volumeMounts:
          - name: env
            mountPath: /configuration
          #- name: client-owner-secret
          #  mountPath: /etc/secret-volume/apppref
